@import url('https://use.typekit.net/kth3zha.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-proxima-nova text-base;
	@apply bg-blue-light text-black dark:bg-blue-dark/90 dark:text-white;
	color: rgb(var(--foreground-rgb));
}

@layer base {
	h2 {
		@apply text-3xl;

		&.responsive {
			@apply text-2xl md:text-3xl;
		}
	}
	h3 {
		@apply text-xl font-bold;
	}

	h5 {
		@apply text-sm;
	}

	h6 {
		@apply text-xs uppercase tracking-widest mb-2;
	}
}

@layer components {
	.credits {
		@apply text-black dark:text-white;
		a {
			@apply font-bold;
		}
	}
}

@layer utilities {
	.default-transition {
		@apply transition-all duration-200 ease-in-out;
	}

	.input-has-error {
		outline: solid 3px rgb(186, 5, 5);
		@apply text-red;
	}

	.text-balance {
		text-wrap: balance;
	}
}
